:root {
    --gray: #212121;
    --green: #02e797;
    --white: #e9e9e9;
    --black: #0c0c0c;
    --lggray: #909090;
}

@font-face {
    font-family: neue;
    src: url(./NeueMachina-Regular_DQCmjH1st.ttf);
}

@font-face {
    font-family: helvetica;
    src: url(./HelveticaNowDisplay-Medium_2wEhlmo-TD.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--white);
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: var(--black);
}

.green {
    color: var(--green);
}

.lgray {
    color: var(--lggray);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 70px;
    position: fixed;
    width: 100%;
}

.nav1 {
    display: flex;
    align-items: center;
    gap: 18px;

}

.nav1 h4 {
    font-family: neue;
    font-size: 17px;
    line-height: 1.4;
    font-weight: 100;
    cursor: pointer;

}

.nav1 img {
    height: 50px;
    cursor: pointer;
}

.nav2 {
    display: flex;
    gap: 40px;
    align-items: center;
}

.nav2 h4 {
    font-family: monospace;
    font-size: 20px;
    font-weight: 100;
    font-family: neue;
    cursor: pointer;
}

.nav2 button {
    padding: 0.5em 1.5em;
    background-color: #24cfa6;
    color: #111;
    font-size: 1.1em;
    border-radius: 0.2em;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

.nav3 {
    display: none;
    gap: 30px;
    align-items: center;
}

.nav3 h4 {
    font-family: monospace;
    font-size: 20px;
    font-weight: 100;
    font-family: neue;
    cursor: pointer;
}

main {
    padding-top: 100px;
}

.section1 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px 70px;
    font-family: helvetica;
}

.section1 .left {
    width: 42%;
    /* background-color: green; */
}

.section1 .left h1 {
    font-size: 48px;
    font-weight: 500;
}

.section1 .left .tags {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px 5px;
    flex-wrap: wrap;
    margin: 30px 0px;

}

.section1 .left .lgray {
    font-size: 20px;
    font-weight: 800;
}

.section1 .left .tags h4 {
    padding: 10px 20px;
    border-radius: 4px;
    white-space: nowrap;
    background-color: var(--gray);
    cursor: pointer;
}



.left .price {
    font-size: 35px;
}

.left .price .lgray {
    font-size: 20px;
    font-weight: 800;
}

.section1 .left .cta {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.cta button.btn {
    background: #009560;
    padding: 20px 60px;
    border-radius: 5px;
    border: none !important;
    font-size: 20px;
    font-weight: bold;
    outline: none!important;
}

.cta button:nth-child(2) {
    background-color: #353535;
}




.section1 .right {
    /* background-color: red; */
    /* width: 45%; */
}

.section1 .right .right-in {
    width: 600px;
    border-radius: 5px;
    overflow: hidden;
}

.section1 .right .right-in .image {
    width: 100%;
    /* height: 330px; */
}

.section1 .right .right-in .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section1 .right .right-in .image-bottom {
    padding: 20px;
    padding-top: 40px;
    background-color: var(--gray);
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -1.25%;
}

.right-in .image-bottom h4 {
    background-color: #151515;
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: 500;
    width: 40%;
}

/* .section1 .right  */

@media (max-width:600px) {
    nav {
        padding: 13px 20px;
    }

    .nav img {
        height: 30px;
    }

    .nav1 h4 {
        font-size: 12px;
    }

    .nav2 {
        display: none;
    }

    .nav3 {
        display: flex;
    }

    .nav3 h4 {
        font-size: 12px;
    }
}

@media (max-width:1200px) {
    .section1 .left h1 {
        font-size: 3.5vw;
    }
}

@media (max-width:800px) {
    main {
        padding: 50px;
    }

    .nav2 h4 {
        font-size: 14px;
    }

    .section1 {
        flex-direction: column-reverse;
        padding: 15px 5vw;
    }

    .section1 .left {
        width: 100%;
    }

    .section1 .left h1 {
        font-size: 33px;
    }

    .section1 .right .right-in {
        width: 100%;
        border-radius: 5px;
        overflow: hidden;
    }

    .section1 .right .right-in .image-bottom {
        padding: 10px;
        padding-top: 20px;
        gap: 8px;
        flex-wrap: wrap;
        margin-top: -1.25%;
    }

    .section1 .left .tags h4 {
        padding: 10px 20px;
        border-radius: 4px;
        white-space: nowrap;
        background-color: var(--gray);
        cursor: pointer;
    }

    .right-in .image-bottom h4 {
        padding: 9px 12px;
        border-radius: 5px;
        font-weight: 500;
        font-size: 2.5vw;
        width: 40%;
    }

    .left .price {
        font-size: 5vw;
    }

    .left .price .lgray {
        font-size: 3vw;
        font-weight: 800;
    }

    .section1 .left .cta {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        margin: 20px 0;
    }

    .cta button {
        background: #009560;
        padding: 15px 0;
        width: 50%;
        border-radius: 5px;
        border: none;
        font-size: 20px;
        font-weight: bold;
    }

}

@media (max-width:600px) {
    .nav2 h4 {
        font-size: 12px;
    }

    .section1 .left h1 {
        font-size: 5vw;
    }
}


.section2 {
    padding:120px 70px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.section2 h1 {
    font-size: 150px;
    font-family: helvetica;
    font-weight: bold;
    background-image: url('https://ik.imagekit.io/sheryians/Aptitude%20&%20Reasoning/mask%20Large_ZB4lGN8hWZ.png');
    background-size: cover;
    background-clip: text;
    color: transparent;
    position: relative;
}

.section2 h1.bloom {
    position: absolute;
    filter: blur(80px);
}

.section2 h3 {
    font-size: 45px;
    font-family: helvetica;
    text-transform: capitalize;
    letter-spacing: -1px;
}

@media (max-width:900px) {
    .section2 h1 {
        font-size: 16vw;
        white-space: nowrap;
    }

    .section2 h3{
        white-space: nowrap;
        text-align: center;
    font-size: 5vw;
   
}
}